fastapi
uvicorn[standard]
python-dotenv
requests
pandas
numpy
matplotlib
seaborn
beautifulsoup4
lxml
html5lib
pillow
langchain
langchain-core
langchain-google-genai
networkx
tabulate
python-multipart

